.button-alert {
  background: #742727;
  box-shadow: inset 0px 0px 16px 0px #973333, inset 0px 0px 0px 1px #ba3e3e;
  color: #e69b9b;
}

.button-alert:hover {
  background: #742727;
  box-shadow: inset 0px 0px 16px 0px #af4141, inset 0px 0px 0px 1px #d74242;
  color: white;
}