@import '../common/variables.scss';

#header {
  width: 100%;

  .navbar, .navbar-default {
    background: white !important;
    margin: 0;
  }

  .img{
    margin-top: -35%;
    width: 25px;
    height: auto;
  }

}