#brand {
  width: 100%;
  height: calc(100vh - 72px);

  background-size: cover;
  background: url("../../common/images/bg.jpg") no-repeat bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-size: 48px;
  }

  .logo-header {
    padding-top: 10%;
  }

}