@import '../../common/variables.scss';
@import '../../common/styles/colors.scss';

#brand {
  width: 100%;
  height: calc(100vh - 52px);

  background-size: cover;
  background: $color-background url("../../common/images/bg.png") no-repeat bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    color: white;
    font-size: 48px;
  }

  h2 {
    color: white;
  }

  .cloud {
    max-width: 200px;
    max-height: 100px;
    position: absolute;
  }

  .cloud-left {
    margin-top: 12%;
    margin-left: -200px;
    animation: float1 4s ease-in-out infinite;
  }

  .cloud-right {
    margin-top: 6%;
    margin-left: calc(100% + 200px);
    animation: float2 6s ease-in-out infinite;
  }

  .logo-header {
    opacity: 0;
  }

  @keyframes float1 {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(-5px, -20px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  @keyframes float2 {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(9px, 20px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  #clouds {
    display:none;
  }


  @media only screen and (max-width: 768px) {
    .logo-header {
      padding-top: 40%;
    }
  }

  @media only screen and (min-width: 768px) {
    .logo-header {
      padding-top: 10%;
    }

    #clouds {
      display:block;
    }
  }

}