#signup-page {

  form {
    margin: 35% 0 35% 0;
  }

  .form-group {
    margin: 20px 0 20px 0;
  }

  .container-border {
    margin: auto;
    border: 3px solid #cccccc;
    text-align: center;

  }
}