/* THEME */
$color-dark-blue: #171D27;
$color-light-blue: #222835;
$color-lighter-blue: #353E51;
$color-lightest-blue: #485167;
$color-blue-border: #303A4D;
$color-gray-border: #444956;

/* FONTS*/
$color-font-blue: #7F8BA6;
$color-font-yellow: #FEDC62;
$color-font-white: #FFFFFF;
$color-font-light-gray: #BBC2D1;