@import '../../../common/styles/colors.scss';

#addemp-page {

  width: 100%;
  min-height: calc(100vh - 52px);
  background: $color-background;

  .content {
    min-height: calc(100vh - 52px);
    width: 100%;
  }

  .vertical-center {
    min-height: calc(100vh - 52px);
  }

  p {
    text-align: center;
  }

  .addemp-container {
    text-align: center;
    width: 100%;
  }

  .schedule-container {
    text-align: center;
  }
  .message {
    margin-top: 10px;
  }

  input {
    margin-bottom: 10px;
  }

  form {
    margin: 15% 10% 15% 10%;
  }

  .form-group {
    margin: 20px 0 20px 0;
  }

  .select {
    width: 80%;
    padding: 10px 10px;
    margin: 0 0;
    display: inline-flex;
    border: 1px solid $color-gray-border;
    box-sizing: content-box;

    background: $color-light-gray;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; /* future proofing */
    -khtml-border-radius: 2px; /* for old Konqueror browsers */
  }

  .schedule-container, .addemp-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}