.button-secondary {
  background: #426836;
  box-shadow: inset 0px 0px 16px 0px #568746, inset 0px 0px 0px 1px #6aa656;
  color: #b4dba8;
}

.button-secondary:hover {
  background: #426836;
  box-shadow: inset 0px 0px 16px 0px #71aa61, inset 0px 0px 0px 1px #6eb058;
  color: white;
}