@import '../../common/styles/colors.scss';


#about-home{
  width: 100%;
  height: calc(100vh - 52px);
  background: $color-background;

  .container{
    height: calc(55vh - 30px);
  }
  .about-title {
    text-align: center;
  }

  .question{
    font-size: 20px;
  }
  .answer{
  }
}