@import '../../common/styles/colors.scss';

#login-page {
  width: 100%;
  height: calc(100vh - 52px);
  background: $color-background;

  .login-container {
    text-align: center;
    width: 100%;
  }

  .message {
    margin-top: 10px;
  }

  input {
    margin-bottom: 10px;
  }

  form {
    padding: 15% 10% 15% 10%;
  }

  #login-form {
    margin: 20px 0 20px 0;
  }

}