@import '../../../common/styles/colors.scss';

#employee-home {
  height: calc(100vh - 52px);
  background: $color-gold;

  .right{
    margin-top: 15px;
  }

  .top {
    margin-top: 15px;
  }

  .bottom{
    margin-top: 15px;
  }

  h1{
    text-align: center;
  }
}