@import '../../../common/styles/colors.scss';

#employee-home {
  min-height: calc(100vh - 52px);
  background: $color-background;

  img {
    max-height: 300px;
  }

  .edit{
    padding: 10px;
  }

  .business-container{
    padding: 25px;
  }
  .busi-cont{
    width: 100%;
  }

  .image-pfp{
    padding: 10px;
  }

  .img-pfp{
    padding: 10px;
    width: 500px;
    border-radius: 30%;
  }

  .employee-schedule {
    padding: 10px;
  }

  .schedule{
    padding: 7px;
  }
  .employee-info{
    width: 100%;
  }
  .content {
    height: 100%;
  }

  .Container {
    height: 100%;
  }

  .img-responsive {
    margin: 0 auto;
  }

  @media only screen and (max-width: 768px) {
    .employee-info {
      margin-top: 15px;
    }
  }

  .containers {
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h1{
    text-align: center;
    margin-bottom: 20px;
  }

}